# Test `query_utils` here

In [7]:
import psycopg2
import query_utils as qu

# connect

conn = psycopg2.connect("dbname=postgres user=postgres password=postgres port=5432")
cur = conn.cursor()

# query

q_col_in = (
    qu.q_limit(
    qu.q_col_in(
        select=["id","stop_sequence"],
        from_target="select * from pontos_stoptimes",
        where_col_in={"stop_id_id": ["4128O00169P0"]},
        order_by="stop_sequence",
        target_is_query=True
    ),
    limit=30,
    )
)

q_unique_cols = (
    qu.q_unique_cols(
        table="pontos_stoptimes",
        unique_cols=["trip_id_id","stop_id_id"],
        select_cols=["*"],
        col_in={"stop_id_id": ["4128O00122C0","2028O00023C0"]},
        col_match_all=["trip_id_id"],
        # q_conditions="stop_id_id IN ('4128O00122C0')",
    )
)

q_raw = """
SELECT id, stop_id_id, trip_id_id FROM pontos_stoptimes LIMIT 10
"""

# execute
q = q_unique_cols
qu.print_query(q)
qu.plot_query(cur, q)

000
001     SELECT * FROM (
002         SELECT *,
003             ROW_NUMBER() OVER (PARTITION BY trip_id_id,stop_id_id ORDER BY id) AS row_num
004         FROM pontos_stoptimes
005         WHERE stop_id_id IN ('4128O00122C0', '2028O00023C0')
006             AND stop_id_id IN ('4128O00122C0')
007         AND  trip_id_id IN ((SELECT DISTINCT trip_id_id FROM pontos_stoptimes WHERE stop_id_id = '4128O00122C0') INTERSECT (SELECT DISTINCT trip_id_id FROM pontos_stoptimes WHERE stop_id_id = '2028O00023C0'))
008     ) AS q__e8b05e0b35c46d6206f0560e89a38fbd
009     WHERE row_num = 1
010
len: 2